body {
	background-color: #3F3F3F;
}

p {
	color: white;
	font-size: 14px;
}

.title {
  font: 20px;
  fill: white;
}

.hourlyLines {
	stroke-width: 1.1;
	fill: none;
}

.selected {
	stroke-width: 3;
	fill: none;
}

.hidden {
		  display: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: white;
	shape-rendering: crispEdges;
}

.axis text {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

.legend text {
	fill: white;
	text-anchor: left;
	font-size: 14px;
}

.tick {
	fill: white;
}

.y .label {
	fill: white;
	font-size: 14px;
	text-anchor: end;
}


.voronoi path {
  stroke: none;
  fill: none;
  pointer-events: all;
}

.crosshairs {
	stroke: white;
	stroke-width: 0.2;
}

.crosshairs text {
	fill: white;
}

#metric {
		  position: absolute;
		  top: 10px;
		  left: 1000px;
		  width: auto;
		  height: auto;
}

#datasource {
	margin-left: 100px;
}

.dot circle {
	fill: rgba(255, 255, 255, 1);
}

.clock {
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.crosshairs {
	stroke: white;
	stroke-width: 0.2;
}

.crosshairs text {
	fill: white;
}

#citySelection {
  position: absolute;
}


.map {
  fill: white;
  stroke: none;
}

.cities {
	fill: #FF7F15;
}

.citiesBackground:hover {
  opacity: 1;
}

.citiesForeground:hover {
	stroke: #FF7F15;
  stroke-width: 8;
}
